body {
    margin: 0px;
    font-family: arial;
}
main {
    padding: 5px 20px;
}

header {
    background-color: #294E80;
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: #fff;
    padding: 5px 20px;
}
header h1 {
    color: black;
    margin: 0px;
    font-size: 50px; 
}


button {
    background-color: #294E80;
    color: #fff;
    border: none; 
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translateY(-50%);
}
button:hover {
    background-color: #18a025;
}

#stats {
    float:right;
}

.error {
    color: red;
    font-weight: bold;
}

.board {
    width: 600px;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
}
.square {
    float: left;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border: solid #666;
    border-width: 0px 1px 1px 0px;
    margin: 0px;
    padding:2px;
}
.letterholder {
    float: left;
    background-color: #da9b0a;
    padding: 4px;
    background-image: url('images/scroll.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    padding-left: 15px; 
    padding-right: 15px; 
}
.tile {
    float: left;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    background-color: #F9F098;
    border: 1px solid #000;
    margin: 2px;
    text-align: center;
    padding-top: 4px;
    font-size: 16px;
    font-family: sans-serif;
    position: relative;
}
.tile[draggable='true'] {
    cursor: pointer;
}
.tile:after {
    position: absolute;
    bottom: 0; right: 0;
    font-size: 0.7em;
}
.tile[data-value='1']:after { content: '1'; }
.tile[data-value='2']:after { content: '2'; }
.tile[data-value='3']:after { content: '3'; }
.tile[data-value='4']:after { content: '4'; }
.tile[data-value='5']:after { content: '5'; }
.tile[data-value='8']:after { content: '8'; }
.tile[data-value='10']:after { content: '10'; }

.letterblank {
    font-style: italic;
    color: #555555;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('images/ancient-temple4.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
}

header {
    background-image: url('images/header-scroll.png');
    background-color: transparent; 
    color: #fff;
    padding: 30px 20px;
    text-align: center;
    background-size: 20%; /* Adjusted background-size */
    background-repeat: no-repeat;
    background-position: center; 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#game-container {
    margin-bottom: 20px;
}

#button-container {
    display: flex;
    justify-content: flex-end; 
    width: 100%; 
}

#letters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    width: 100%;
}

#remaining-letters, #player-score {
    font-size: 18px;
    font-weight: bold;
    color: Black;
}

#remaining-letters span, #player-score span {
    color: yellow;
}
