body {
    margin: 0px;
    font-family: arial;
}

main {
    padding: 5px 20px;
}

header {
    background-color: #294E80;
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: #fff;
    padding: 5px 20px;
}

header h1 {
    color: black;
    margin: 0px;
    font-size: 50px; 
}

button {
    background-color: #294E80;
    color: #fff;
    border: none; 
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 22%;
    transform: translateY(-50%);
}

button:hover {
    background-color: #18a025;
}

.board {
    width: 600px;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    background-color: #3B3B3B; 
    overflow: hidden;
}

.square {
    float: left;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border: solid 1px #666; 
    margin: 0;
    padding: 0;
    position: relative;
}

.letterholder {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 4px;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    box-sizing: border-box; 
}

.letterholder {
    float: left;
    background-color: #da9b0a;
    padding: 4px;
    background-image: url('images/scroll-new.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    padding-left: 15px; 
    padding-right: 15px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.tile {
    float: left;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    background-color: #F9F098;
    border: 1px solid #000;
    margin: 2px;
    text-align: center;
    padding-top: 4px;
    font-size: 16px;
    font-family: sans-serif;
    position: relative;
}

.tile[draggable='true'] {
    cursor: pointer;
}

.tile:after {
    position: absolute;
    bottom: 0; right: 0;
    font-size: 0.7em;
}

.tile[data-value='1']:after { content: '1'; }
.tile[data-value='2']:after { content: '2'; }
.tile[data-value='3']:after { content: '3'; }
.tile[data-value='4']:after { content: '4'; }
.tile[data-value='5']:after { content: '5'; }
.tile[data-value='8']:after { content: '8'; }
.tile[data-value='10']:after { content: '10'; }

.letterblank {
    font-style: italic;
    color: #555555;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('images/ancient-temple4.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
}

header {
    background-image: url('images/header-scroll.png');
    background-color: transparent; 
    color: #fff;
    padding: 30px 20px;
    text-align: center;
    background-size: 20%; 
    background-repeat: no-repeat;
    background-position: center; 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#game-container {
    margin-bottom: 20px;
}

#button-container {
    display: flex;
    justify-content: flex-end; 
    width: 100%; 
}

#letters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.stats-section {
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    text-align: center;
    width: 180px;
    background-color: rgba(255, 215, 0, 0.5); 
}

#stats-container {
    position: absolute;
    top: 10%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10%; /* Adjust the margin-top percentage to move it closer to the board */
    margin-right: 10%;
    height: 500px;
}

#remaining-letters, #player-score, #play-word-button {
    font-size: 24px;
    color: #E1B560;
    background-color: #2E332E; 
    padding: 8px 15px;
    border-radius: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    text-align: center;
    width: 200px;
}
#play-word-button {
    margin-right: -15%; /* Remove bottom margin */
    margin-top: -20%;
}

#player-score-value {
    margin-left: 10px;
}

#remaining-letters span, #player-score span {
    color: #CCCCCC;
}

#stage-info {
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); 
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: left;
}

#stage-info > div {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #E1B560; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#stage, #turns-left, #points-required {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

#stage {
    color: #E1B560; 
}

#turns-left {
    color: #E1B560; 
}

#points-required {
    color: #E1B560; 
}

#play-word-button {
    background-color: #da9b0a;
    color: #fff;
    border: none;
    padding: 15px 40px; 
    border-radius: 8px; 
    cursor: pointer; 
    font-size: 18px; 
    font-weight: bold; 
    text-transform: uppercase; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

#play-word-button:hover {
    background-color: #c2870b;
}

#messages{
    font-size: 30px;
}
